@import "~src/assets/colors";

.form {
    .block {
        margin: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .text {
            margin-right: 0.5rem;
            font-size: 0.7em;
            color: $mainColorFour;
        }
        .line {
            height: 1px;
            flex-grow: 1;
            background-color: $background;
        }
    }
    .field {
        position: relative;
        width: min-content;
        margin: 2rem auto;
        label {
            position: absolute;
            top: 50%;
            left: -7px;
            margin: 0 0.5rem;
            transform: translateY(-50%);
            transition: transform 0.3s ease-in-out;
            font-size: 0.8rem;
            // font-weight: 700;
            text-align: right;
            letter-spacing: 1px;
        }
        input {
            width: 160px;
            padding: 5px 10px;
            border-width: 0 0px 1px 0px;
            border-style: solid;
            border-color: $mainColorThree;
            outline: unset;
            transition: border-color 0.3s ease-in-out;
            &:focus-within,
            &:hover,
            &.full {
                border-color: $mainColorOne;
            }
            &:hover + label,
            &:focus-within + label,
            &.full + label {
                transform: translate(-101%, -50%);
            }
        }
        .error {
            position: absolute;
            left: 0;
            top: 100%;
            font-size: 0.5rem;
            color: $mainColorOne;
        }
    }
}
