<form
    class="form"
    [formGroup]="formAddPlayer"
    (ngSubmit)="submit()"
>
    <div class="category">
        <div class="category_block">
            <p class="text">Dane osobowe</p>
            <div class="line"></div>
        </div>
        <div class="category_field">
            <input
                type="text"
                id="name"
                formControlName="name"
                [ngClass]="{'full': getField('name')?.value}"
            >
            <label for="name">Imię</label>
            <div class="error">
                <p *ngIf="(getField('name')?.invalid && getField('name')?.touched) || errors.name">Min 2, max 15 znaków</p>
            </div>
        </div>
        <div class="category_field">
            <input
                type="text"
                id="surname"
                formControlName="surname"
                [ngClass]="{'full': getField('surname')?.value}"
            >
            <label for="surname">Nazwisko</label>
            <div class="error">
                <p *ngIf="(getField('surname')?.invalid && getField('surname')?.touched) || errors.surname">Min 2, max 30 znaków</p>
            </div>
        </div>
        <div class="category_field">
            <input
                type="text"
                id="telephone"
                formControlName="telephone"
                [ngClass]="{'full': getField('telephone')?.value}"
            >
            <label for="tel">Telefon</label>
            <div class="error">
                <p *ngIf="(getField('telephone')?.invalid && getField('telephone')?.touched) || errors.telephone">Tylko 9 cyfr</p>
            </div>
        </div>
        <div class="category_field">
            <input
                type="text"
                id="email"
                formControlName="email"
                [ngClass]="{'full': getField('email')?.value}"
            >
            <label for="email">Email</label>
            <div class="error">
                <p *ngIf="(getField('email')?.invalid && getField('email')?.touched) || errors.email">Nieprawidłowy email</p>
            </div>
        </div>
    </div>
    <div class="category">
        <div class="category_block">
            <p class="text">Kort</p>
            <div class="line"></div>
        </div>
        <div class="category_field">
            <input
                type="number"
                id="account"
                step="0.01"
                min="0"
                formControlName="account"
                [ngClass]="{'full': getField('account')?.value >= 0}"
            >
            <label for="account">Stan konta</label>
            <div class="error">
                <p *ngIf="(getField('account')?.invalid && getField('account')?.touched) || errors.account">Nie mniej niż 0PLN</p>
            </div>
        </div>
        <div class="category_field">
            <input
                type="number"
                id="price"
                step="0.01"
                min="0"
                formControlName="priceSummer"
                [ngClass]="{'full': getField('priceSummer')?.value >= 0}"
            >
            <label for="price">Letnia stawka</label>
            <div class="error">
                <p *ngIf="(getField('priceSummer')?.invalid && getField('priceSummer')?.touched) || errors.priceSummer">Zakres 0 - 1000PLN</p>
            </div>
        </div>
        <div class="category_field">
            <input
                type="number"
                id="price"
                step="0.01"
                min="0"
                formControlName="priceWinter"
                [ngClass]="{'full': getField('priceWinter')?.value >= 0}"
            >
            <label for="price">Zimowa stawka</label>
            <div class="error">
                <p *ngIf="(getField('priceWinter')?.invalid && getField('priceWinter')?.touched) || errors.priceWinter">Zakres 0 - 1000PLN</p>
            </div>
        </div>
        <div class="category_field">
            <select
                id="court"
                class="select"
                formControlName="court"
            >
                <option
                    disabled
                    value="0"
                    selected="selected"
                >
                    Ulubiony kort
                </option>
                <option value="1">Niebieski</option>
                <option value="2">Fioletowy</option>
            </select>
            <div class="error">
                <p *ngIf="errors.court">Niewłaściwa wartość</p>
            </div>
        </div>
    </div>
    <div class="category">
        <div class="category_block">
            <p class="text">Sprzęt</p>
            <div class="line"></div>
        </div>
        <div class="category_field">
            <input
                type="text"
                id="strings"
                formControlName="strings"
                [ngClass]="{'full': getField('strings')?.value}"
            >
            <label for="strings">Ulubiony naciąg</label>
            <div class="error">
                <p *ngIf="(getField('strings')?.invalid && getField('strings')?.touched) || errors.strings">Max 20 znaków</p>
            </div>
        </div>
        <div class="category_field">
            <input
                type="number"
                id="tension"
                step="0.1"
                min="15"
                max="35"
                formControlName="tension"
                [ngClass]="{'full': getField('tension')?.value}"
            >
            <label for="tension">Siła naciągu</label>
            <div class="error">
                <p *ngIf="(getField('tension')?.invalid && getField('tension')?.touched) || errors.tension">Zakres 15 - 35kg</p>
            </div>
        </div>
        <div class="category_field">
            <input
                type="text"
                id="balls"
                formControlName="balls"
                [ngClass]="{'full': getField('balls')?.value}"
            >
            <label for="balls">Ulubione piłki</label>
            <div class="error">
                <p *ngIf="(getField('balls')?.invalid && getField('balls')?.touched) || errors.balls">Max 20 znaków</p>
            </div>
        </div>
    </div>
    <div class="category">

        <div class="category_block">
            <p class="text">Preferowane terminy</p>
            <div class="line"></div>
        </div>
        <app-week
            (outputWeeks)="setWeeks($event)"
            [changeStatus]="changeStatus"
            [error]="errors?.weeks"
        ></app-week>
    </div>
    <div class="category">
        <div class="category_block">
            <p class="text">Preferowani przeciwnicy</p>
            <div class="line"></div>
        </div>
        <app-opponent
            (outputOpponents)="setOpponents($event)"
            [changeStatus]="changeStatus"
            [error]="errors?.opponents"
            [opponents]="allOpponents"
        ></app-opponent>
    </div>
    <div class="category">
        <div class="category_block">
            <p class="text">Notatka</p>
            <div class="line"></div>
        </div>
        <div class="category_field">
            <textarea
                class="notes"
                formControlName="notes"
            ></textarea>
            <div class="error">
                <p *ngIf="(getField('notes')?.invalid && getField('notes')?.touched) || errors.notes">Max 500 znaków</p>
            </div>
        </div>
    </div>
    <button
        class="btn btn--submit"
        [disabled]="formAddPlayer.invalid"
    >
        Zapisz
    </button>
</form>
