<form
    class="form"
    [formGroup]="formOpponent"
    (submit)="addOpponent()"
>
    <select
        id="opponent"
        class="select"
        formControlName="opponent"
    >
        <option value>Wybierz przeciwnika</option>
        <option
            *ngFor="let op of filteredOpponents"
            [value]="op.id"
        >
            {{op.name}} {{op.surname}}
        </option>
    </select>
    <button
        type="submit"
        class="btn btn--add"
        [disabled]="formOpponent.invalid"
    >
        <svg>
            <use [attr.xlink:href]="environment.svg +'#icon-plus'"></use>
        </svg>
        dodaj
    </button>
</form>
<p
    *ngIf="error"
    class="error"
>
    Wysłano błędne dane
</p>
<div class="list">
    <div
        *ngFor="let op of chosenOpponents; let i = index"
        class="block"
    >
        <p class="number">#{{i+1}}.</p>
        <p class="name">{{op.name}} {{op.surname}}</p>
        <button
            type="button"
            (click)="removeOpponent(op.id)"
        >
            <svg>
                <use [attr.xlink:href]="environment.svg +'#icon-delete'"></use>
            </svg>
        </button>
    </div>
</div>
