<div class="container">
    <div class="buttons">
        <button
            class="btn btn--left"
            [ngClass]="{'btn--active': overlap === 'user'}"
            (click)="toggleList('user')"
        >
            Aktywne konto
        </button>
        <button
            class="btn btn--right"
            [ngClass]="{'btn--active': overlap === 'list'}"
            (click)="toggleList('list')"
        >
            Kasjerzy
        </button>
        <button
            class="btn btn--left"
            [ngClass]="{'btn--active': overlap === 'add'}"
            (click)="toggleList('add')"
        >
            Dodaj kasjera
        </button>
    </div>
    <form class="form">
        <div class="field">
            <input
                type="text"
                name="name"
                id="name"
            >
            <label for="name">Imię</label>
        </div>
        <div class="field">
            <input
                type="text"
                name="login"
                id="login"
            >
            <label for="login">Login</label>
        </div>
        <div class="field">
            <input
                type="password"
                name="newPassword"
                id="newPassword"
            >
            <label for="newPassword">Nowe hasło</label>
        </div>
        <div class="field">
            <input
                type="password"
                name="confirmNewPassword"
                id="confirmNewPassword"
            >
            <label for="confirmNewPassword">Potwierdź nowe hasło</label>
        </div>
        <button
            class="btn btn--submit"
            type="submit"
        >
            Aktualizuj
        </button>
    </form>
    <app-list></app-list>
</div>
