<div class="container">
    <div class="date">
        <button
            class="btn btn--add"
            (click)="newReservation()"
        >
            Dodaj wpis
        </button>
        <div class="input">
            <label for="day">Dzień</label>
            <input
                type="date"
                name
                id="day"
                [(ngModel)]="date"
                (change)="reloadReservations()"
            >
        </div>
    </div>
    <div
        #board
        class="scroll"
    >
        <div class="timetable">
            <div class="timetable_hours">
                <div class="row row--first">
                    <p>Godz.</p>
                </div>
                <div
                    *ngFor="let row of timetable; let i = index"
                    class="row"
                    [ngClass]="{
                    'row--top': ((i+1) % 2) === 1,
                    'row--bot': ((i+1) % 2) === 0
                }"
                >
                    <p *ngIf="((i+1) % 2) === 1">{{row.label}}</p>
                </div>
            </div>
            <div class="timetable_court timetable_court_1">
                <div class="row row--first">
                    <p>Niebieski</p>
                </div>
                <div
                    *ngFor="let row of timetable; let i = index"
                    class="row"
                    [ngClass]="{
                    'row--top': ((i+1) % 2) === 1,
                    'row--bot': ((i+1) % 2) === 0
                }"
                >
                    <p>{{row.label}}</p>
                </div>
            </div>
            <div class="timetable_court timetable_court_2">
                <div class="row row--first">
                    <p>Fioletowy</p>
                </div>
                <div
                    *ngFor="let row of timetable; let i = index"
                    class="row"
                    [ngClass]="{
                    'row--top': ((i+1) % 2) === 1,
                    'row--bot': ((i+1) % 2) === 0
                }"
                >
                    <p>{{row.label}}</p>
                </div>
            </div>
            <div class="timetable_court timetable_court_3">
                <div class="row row--first">
                    <p>Rezerwowi</p>
                </div>
                <div
                    *ngFor="let row of timetable; let i = index"
                    class="row"
                    [ngClass]="{
                    'row--top': ((i+1) % 2) === 1,
                    'row--bot': ((i+1) % 2) === 0
                }"
                >
                    <p>{{row.label}}</p>
                </div>
            </div>
            <div class="board">
                <div
                    #element
                    *ngFor="let res of reservations"
                    cdkDragBoundary=".board"
                    cdkDragLockAxis="y"
                    cdkDrag
                    (cdkDragEnded)="dragEnd(res, $event, element)"
                    class="reservation"
                    [ngClass]="{
                        'reservation--small': res.timetable.ceilHeight <= 80,
                        'reservation--paid': res.isPayed
                    }"
                    [ngStyle]="{
                        'left': res.timetable.transformX + 'px',
                        'top': res.timetable.transformY + 'px',
                        'z-index': res.timetable.zIndex,
                        'height': res.timetable.ceilHeight +'px'
                    }"
                >
                    <div class="reservation_head">
                        <p class="reservation_hour">
                            {{res.form.timeFrom}} - {{res.form.timeTo}}
                        </p>
                        <button (click)="editReservation(res)">
                            <svg>
                                <use [attr.xlink:href]="environment.svg +'#icon-edit-2'"></use>
                            </svg>
                        </button>
                    </div>
                    <div
                        class="reservation_main"
                        cdkDragHandle
                        (click)="moveOnTop(res)"
                        (pointerdown)="moveOnTop(res)"
                    >
                        <p
                            *ngIf="res.form.playerOne"
                            class="reservation_player"
                        >
                            {{res.form.playerOne.name.slice(0,1)+ '. '}}{{res.form.playerOne.surname}}
                        </p>
                        <p
                            *ngIf="res.form.guestOne"
                            class="reservation_player"
                        >
                            {{res.form.guestOne}}
                        </p>
                        <p
                            *ngIf="res.form.playerTwo"
                            class="reservation_player"
                        >
                            {{res.form.playerTwo.name.slice(0,1)+ '. '}}{{res.form.playerTwo.surname}}
                        </p>
                        <p
                            *ngIf="res.form.guestTwo"
                            class="reservation_player"
                        >
                            {{res.form.guestTwo}}
                        </p>
                    </div>
                    <div class="reservation_footer">
                        <button
                            (click)="moveLeft(res)"
                            [disabled]="res.form.court == '1'"
                        >
                            <svg>
                                <use [attr.xlink:href]="environment.svg +'#icon-arrow-left'"></use>
                            </svg>
                        </button>
                        <button (click)="moveDown(res)">
                            {{res.timetable.zIndex}}
                            <svg>
                                <use [attr.xlink:href]="environment.svg +'#icon-bring-on-ground'"></use>
                            </svg>
                        </button>
                        <button
                            (click)="moveRight(res)"
                            [disabled]="res.form.court == '3'"
                        >
                            <svg>
                                <use [attr.xlink:href]="environment.svg +'#icon-arrow-right'"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-timetable-modal
        *ngIf="isModal"
        [modalAction]="modalAction"
        [players]="players"
        [date]="date"
        [editedReservation]="editedReservation"
        (outputCloseModal)="closeModal()"
        (outputReservationForm)="submit($event)"
    ></app-timetable-modal>
</div>
