@import "~src/assets/colors";
:host {
    flex-grow: 1;
}

.container {
    width: 100vw;
    max-width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    &_head {
        margin: 1rem 0 2rem;
        text-align: center;
        .btn--sort {
            margin: 10px;
            padding: 5px;
            border-color: $confirm;
            border-style: solid;
            border-width: 0 0 1px;
            box-shadow: $mainShadow;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            color: $mainColorTwo;
            svg {
                opacity: 0;
                max-width: 20px;
                max-height: 20px;
                margin-left: 5px;
                transform: rotateX(0);
                transition: opacity 0.2s linear, transform 0.2s linear;
                fill: $clearWhite;
            }
            &--down {
                svg {
                    transform: rotateX(180deg);
                }
            }
            &--active {
                color: $clearWhite;
                background-color: $confirm;
                svg {
                    opacity: 1;
                }
            }
        }
        .search {
            margin: 10px;
            padding: 5px 10px;
            border-width: 0 0 1px 0;
            border-color: $mainColorThree;
            border-style: solid;
            outline: none;
            &:focus,
            &:focus-within {
                border-color: $mainColorOne;
            }
        }
        .searchWeek {
            margin-top: 1rem;
            .title {
                margin-bottom: 0.5rem;
            }
            app-search-week {
                display: inline;
            }
        }
    }
    &_card {
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .number {
            margin-left: 0.5rem;
        }
        .text {
            flex-grow: 1;
            text-align: center;
            font-weight: 700;
        }
        .buttons {
            flex-basis: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .btn {
            svg {
                margin-right: 0;
            }
            &--phone,
            &--sms {
                &::before,
                &::after {
                    display: none;
                }
            }
            &--phone {
                margin: 0.5rem;
            }
            &--sms {
                margin-left: 0;
                margin-right: auto;
                svg {
                    fill: $yellow;
                }
            }
        }
    }
    .pagination {
        margin-top: auto;
        margin-bottom: 0.5rem;
        padding: 0px 5px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &_perPage {
            font-size: 12px;
        }
        &_count {
            width: 35px;
            height: 35px;
            margin-right: auto;
            text-align: center;
            border: 1px solid $confirm;
            -moz-appearance: textfield;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                display: none;
                -webkit-appearance: none;
                margin: 0;
            }
        }
        &_info {
            font-size: 12px;
            min-width: 70px;
            text-align: center;
        }
        &_btn {
            width: 30px;
            height: 30px;
            padding: 5px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            svg {
                max-height: 100%;
                max-width: 100%;
                fill: $mainColorOne;
            }
        }
    }
}
// pop up edycja danych
.popUp {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;
    &_card {
        position: relative;
        width: 95%;
        height: 95%;
        max-height: 700px;
        padding: 15px;
        border-radius: $mainBorderRadius;
        background-color: $clearWhite;
        &_close {
            position: absolute;
            top: -20px;
            right: -8px;
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 50%;
            background-color: $clearWhite;
            svg {
                max-width: 100%;
                max-height: 100%;
                fill: $mainColorFour;
            }
        }
        &_user {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
            padding: 5px 10px;
            background-color: $clearWhite;
            color: $mainColorOne;
        }
        &_frame {
            overflow: auto;
            height: 100%;
            padding-top: 10px;
            border-radius: $mainBorderRadius;
            border: 1px solid $background;
        }
        .form {
            .category {
                &_block {
                    margin: 1rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .text {
                        margin-right: 0.5rem;
                        font-size: 0.7em;
                        color: $mainColorFour;
                    }
                    .line {
                        height: 1px;
                        flex-grow: 1;
                        background-color: $background;
                    }
                }
                &_field {
                    position: relative;
                    width: min-content;
                    margin: 2rem auto;
                    label {
                        position: absolute;
                        top: 50%;
                        left: -7px;
                        margin: 0 0.5rem;
                        transform: translateY(-50%);
                        transition: transform 0.3s ease-in-out;
                        font-size: 0.8rem;
                        text-align: right;
                        letter-spacing: 0px;
                        &.top {
                            top: 10px;
                            left: -5px;
                        }
                    }
                    input,
                    .textarea {
                        padding: 5px 10px;
                        border-width: 0 0px 1px 0px;
                        border-style: solid;
                        border-color: $mainColorThree;
                        outline: unset;
                        transition: border-color 0.3s ease-in-out;
                        &:focus-within,
                        &:hover,
                        &.full {
                            border-color: $mainColorOne;
                        }
                    }
                    input {
                        width: 160px;
                        &:hover + label,
                        &:focus-within + label,
                        &.full + label {
                            transform: translate(-101%, -50%);
                        }
                    }
                    .textarea {
                        width: 15rem;
                        height: 5rem;
                        resize: none;
                        padding: 5px;
                        border-radius: 5px;
                        border: 1px solid $mainColorTwo;
                        font-size: 0.8em;
                        &--short {
                            height: 2.5rem;
                        }
                        &:focus {
                            border-color: $mainColorOne;
                            outline: none;
                        }
                        &:hover + label,
                        &:focus-within + label,
                        &.full + label {
                            transform: translate(0%, -180%);
                        }
                    }
                    .select {
                        width: 160px;
                        padding: 0.5rem;
                        border-style: none none solid;
                        border-color: $mainColorTwo;
                        border-width: 1px;
                        background-color: transparent;
                        &:focus-within {
                            outline: none;
                            border-color: $mainColorOne;
                        }
                    }
                    .error {
                        position: absolute;
                        left: 0;
                        top: 100%;
                        font-size: 0.5rem;
                        color: $mainColorOne;
                    }
                    .notes {
                        width: 15rem;
                        height: 5rem;
                        resize: none;
                        padding: 5px;
                        border-radius: 5px;
                        border: 1px solid $mainColorTwo;
                        font-size: 0.8em;
                        &:focus {
                            border-color: $mainColorOne;
                            outline: none;
                        }
                    }
                }
            }
            .btn {
                display: block;
                margin: 1rem auto;
            }
        }
        // Pop up usunięcia gracza
        &--delete {
            border-radius: $mainBorderRadius;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            text-align: center;
            .title {
                color: $mainColorOne;
                font-weight: 700;
            }
            .actions {
                margin-top: auto;
                .btn {
                    margin: 2.5rem;
                    display: inline-block;
                    &--submit {
                        color: $mainColorOne;
                    }
                }
            }
        }
    }
}
// Desktop
@media screen and (min-width: 992px) {
    :host {
        flex-grow: 1;
    }
    .container {
        &_head {
            .searchWeek {
                .title {
                    box-shadow: unset;
                    cursor: auto;
                }
            }
        }
        &_card {
            &:hover {
                background-color: hsla(0, 0%, 73%, 0.25);
            }
            .buttons {
                flex-basis: unset;
                .btn--phone,
                .btn--sms {
                    display: none;
                }
            }
        }
    }
    // pop up edycja danych
    .popUp {
        &_card {
            &_close {
                right: -16px;
            }
            .form {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                .category {
                    min-width: 300px;
                    flex-basis: 30%;
                    margin: 0 1rem;
                }
            }
            &--delete {
                max-width: 400px;
                max-height: 300px;
            }
        }
    }
}
