<div class="container">
    <div class="container_head">
        <p class="text">Sortuj po:</p>
        <button
            class="btn--sort"
            [ngClass]="{
            'btn--sort--active': sortedView.name.isActive,
            'btn--sort--down': !sortedView.name.top
            }"
            (click)="sortBy('name')"
        >
            Imię
            <svg>
                <use [attr.xlink:href]="environment.svg +'#icon-sort-up'"></use>
            </svg>
        </button>
        <button
            class="btn--sort"
            [ngClass]="{
                'btn--sort--active': sortedView.surname.isActive,
                'btn--sort--down': !sortedView.surname.top
            }"
            (click)="sortBy('surname')"
        >
            Nazwisko
            <svg>
                <use [attr.xlink:href]="environment.svg +'#icon-sort-up'"></use>
            </svg>
        </button>
        <input
            type="text"
            class="search"
            placeholder="Wyszukaj słowa..."
            [(ngModel)]="search"
            (keyup)="searchFor()"
        >
        <div class="searchWeek">
            <p class="title">Uwzględnij dni</p>
            <app-search-week (outputSearchDay)="searchForWeek($event)"></app-search-week>
        </div>
    </div>
    <div *ngFor="let player of filteredPlayers; let i = index">
        <div
            *ngIf="i >= (itemsPerPage*(page-1)) && i < ((itemsPerPage*(page-1))+itemsPerPage)"
            class="container_card"
        >
            <p class="number">#{{i+1}}</p>
            <p class="text">{{player.name}} {{player.surname}}</p>
            <div class="buttons">
                <a
                    class="btn btn--add btn--phone"
                    [href]="'tel:+48'+player.telephone"
                >
                    <svg>
                        <use [attr.xlink:href]="environment.svg +'#icon-phone'"></use>
                    </svg>
                </a>
                <a
                    class="btn btn--add btn--sms"
                    [href]="'sms:+48'+player.telephone"
                >
                    <svg>
                        <use [attr.xlink:href]="environment.svg +'#icon-sms'"></use>
                    </svg>
                </a>
                <button
                    class="btn btn--add"
                    (click)="openView(i)"
                >
                    <svg>
                        <use [attr.xlink:href]="environment.svg +'#icon-zoom'"></use>
                    </svg>
                </button>
                <button
                    *ngIf="isAdmin"
                    class="btn btn--edit"
                    (click)="openPopUp(i)"
                >
                    <svg>
                        <use [attr.xlink:href]="environment.svg +'#icon-edit'"></use>
                    </svg>
                </button>
                <button
                    *ngIf="isAdmin"
                    class="btn btn--delete"
                    (click)="openDeletePopUp(i)"
                >
                    <svg>
                        <use [attr.xlink:href]="environment.svg +'#icon-delete'"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="pagination">
        <p class="pagination_perPage">Graczy na stronę:</p>
        <input
            type="number"
            min="1"
            max="100"
            class="pagination_count"
            step="1"
            [(ngModel)]="itemsPerPage"
        >
        <button
            class="pagination_btn"
            (click)="prevPage()"
        >
            <svg>
                <use [attr.xlink:href]="environment.svg +'#icon-arrow-left'"></use>
            </svg>
        </button>
        <p class="pagination_info">{{page}} z {{pageCount}}</p>
        <button
            class="pagination_btn"
            (click)="nextPage()"
        >
            <svg>
                <use [attr.xlink:href]="environment.svg +'#icon-arrow-right'"></use>
            </svg>
        </button>
    </div>
</div>
<!-- pop up edycji -->
<div
    *ngIf="isPopUp"
    class="popUp"
>
    <div class="popUp_card">
        <button
            class="popUp_card_close"
            (click)="closePopUp()"
        >
            <svg>
                <use [attr.xlink:href]="environment.svg +'#icon-close'"></use>
            </svg>
        </button>
        <p class="popUp_card_user">
            {{getField('name')?.value}} {{getField('surname')?.value}}
        </p>
        <div class="popUp_card_frame">
            <form
                class="form"
                [formGroup]="formEditPlayer"
                (submit)="submit()"
            >
                <div class="category">
                    <div class="category_block">
                        <p class="text">Dane osobowe</p>
                        <div class="line"></div>
                    </div>
                    <div class="category_field">
                        <input
                            type="text"
                            id="name"
                            formControlName="name"
                            [attr.disabled]="isView ? true: null"
                            [ngClass]="{'full': getField('name')?.value}"
                        >
                        <label for="name">Imię</label>
                        <div class="error">
                            <p *ngIf="(getField('name')?.invalid && getField('name')?.touched) || errors.name">Min 2, max 15 znaków</p>
                        </div>
                    </div>
                    <div class="category_field">
                        <input
                            type="text"
                            id="surname"
                            formControlName="surname"
                            [attr.disabled]="isView ? true: null"
                            [ngClass]="{'full': getField('surname')?.value}"
                        >
                        <label for="surname">Nazwisko</label>
                        <div class="error">
                            <p *ngIf="(getField('surname')?.invalid && getField('surname')?.touched) || errors.surname">Min 2, max 30 znaków</p>
                        </div>
                    </div>
                    <div class="category_field">
                        <input
                            type="text"
                            id="telephone"
                            formControlName="telephone"
                            [attr.disabled]="isView ? true: null"
                            [ngClass]="{'full': getField('telephone')?.value}"
                        >
                        <label for="tel">Telefon</label>
                        <div class="error">
                            <p *ngIf="(getField('telephone')?.invalid && getField('telephone')?.touched) || errors.telephone">Tylko 9 cyfr</p>
                        </div>
                    </div>
                    <div class="category_field">
                        <input
                            type="text"
                            id="email"
                            formControlName="email"
                            [attr.disabled]="isView ? true: null"
                            [ngClass]="{'full': getField('email')?.value}"
                        >
                        <label for="email">Email</label>
                        <div class="error">
                            <p *ngIf="(getField('email')?.invalid && getField('email')?.touched) || errors.email">Nieprawidłowy email</p>
                        </div>
                    </div>
                </div>
                <div class="category">
                    <div class="category_block">
                        <p class="text">Kort</p>
                        <div class="line"></div>
                    </div>
                    <div class="category_field">
                        <select
                            id="priceListId"
                            class="select"
                            formControlName="priceListId"
                            [attr.disabled]="isView ? true: null"
                        >
                            <option
                                value
                                selected
                                id="priceListId"
                            >
                                Wybierz cennik
                            </option>
                            <option
                                *ngFor="let price of priceList"
                                [value]="price.id"
                            >
                                {{price.name}}
                            </option>
                        </select>
                        <div class="error">
                            <p *ngIf="errors.priceListId">Nieprawidłowy cennik</p>
                        </div>
                    </div>
                    <div class="category_field">
                        <select
                            id="court"
                            class="select"
                            formControlName="court"
                            [attr.disabled]="isView ? true: null"
                        >
                            <option
                                value="0"
                                selected="selected"
                            >
                                Ulubiony kort
                            </option>
                            <option value="1">Niebieski</option>
                            <option value="2">Fioletowy</option>
                        </select>
                    </div>
                </div>
                <div class="category">
                    <div class="category_block">
                        <p class="text">Sprzęt</p>
                        <div class="line"></div>
                    </div>
                    <div class="category_field">
                        <textarea
                            id="strings"
                            class="textarea"
                            formControlName="strings"
                            [attr.disabled]="isView ? true: null"
                            [ngClass]="{'full': getField('strings')?.value}"
                        ></textarea>
                        <label
                            class="top"
                            for="strings"
                        >
                            Ulubiony naciąg
                        </label>
                        <div class="error">
                            <p *ngIf="(getField('strings')?.invalid && getField('strings')?.touched) || errors.strings">Max 250 znaków</p>
                        </div>
                    </div>
                    <div class="category_field">
                        <textarea
                            id="tension"
                            class="textarea"
                            formControlName="tension"
                            [attr.disabled]="isView ? true: null"
                            [ngClass]="{'full': getField('tension')?.value}"
                        ></textarea>
                        <label
                            class="top"
                            for="tension"
                        >
                            Siła naciągu
                        </label>
                        <div class="error">
                            <p *ngIf="(getField('tension')?.invalid && getField('tension')?.touched) || errors.tension">Max 250 znaków</p>
                        </div>
                    </div>
                    <div class="category_field">
                        <textarea
                            type="text"
                            id="racquet"
                            class="textarea textarea--short"
                            formControlName="racquet"
                            [attr.disabled]="isView ? true: null"
                            [ngClass]="{'full': getField('racquet')?.value}"
                        ></textarea>
                        <label
                            class="top"
                            for="racquet"
                        >
                            Rakieta
                        </label>
                        <div class="error">
                            <p *ngIf="(getField('racquet')?.invalid && getField('racquet')?.touched) || errors.racquet">Max 150 znaków</p>
                        </div>
                    </div>
                </div>
                <div class="category">

                    <div class="category_block">
                        <p class="text">Preferowane terminy</p>
                        <div class="line"></div>
                    </div>
                    <app-week
                        (outputWeeks)="setWeeks($event)"
                        [changeStatus]="changeStatus"
                        [editedWeeks]="editedWeeks"
                        [isView]="isView"
                        [error]="errors?.weeks"
                    ></app-week>
                </div>
                <div class="category">
                    <div class="category_block">
                        <p class="text">Preferowani przeciwnicy</p>
                        <div class="line"></div>
                    </div>
                    <app-opponent
                        (outputOpponents)="setOpponents($event)"
                        [changeStatus]="changeStatus"
                        [error]="errors?.opponents"
                        [opponents]="allOpponents"
                        [editFilteredOpponents]="filteredOpponents"
                        [editChosenOpponents]="filteredChosenOpponents"
                        [edition]="true"
                        [isView]="isView"
                    ></app-opponent>
                </div>
                <div class="category">
                    <div class="category_block">
                        <p class="text">Notatka</p>
                        <div class="line"></div>
                    </div>
                    <div class="category_field">
                        <textarea
                            class="notes"
                            [attr.disabled]="isView ? true: null"
                            formControlName="notes"
                        ></textarea>
                        <div class="error">
                            <p *ngIf="(getField('notes')?.invalid && getField('notes')?.touched) || errors.notes">Max 500 znaków</p>
                        </div>
                    </div>
                </div>
                <button
                    *ngIf="!isView"
                    class="btn btn--submit"
                    [disabled]="formEditPlayer.invalid || isSending"
                >
                    Zmień dane
                </button>
            </form>
        </div>
    </div>
</div>
<!-- pop up usunięcia gracza -->
<div
    *ngIf="isDeletePopUp"
    class="popUp popUp--delete"
>
    <div
        class="popUp_card popUp_card--delete"
    >
        <p class="title">Usunąć gracza:</p>
        <p class="subtitle">{{'tutaj imię'}}?</p>
        <div class="actions">
            <button
                class="btn btn--close"
                (click)="closeDeletePopUp()"
            >
                Nie
            </button>
            <button
                class="btn btn--submit"
                [disabled]="isSendingDelete"
                (click)="confirmDelete()"
            >
                Tak
            </button>
        </div>
    </div>
</div>
