<div class="body">
    <nav [ngClass]="{'active': isMenu}">
        <div
            class="burger"
            (click)="toggleMenu()"
        >
            <div class="lineMenu lineTop"></div>
            <div class="lineMenu lineMid"></div>
            <div class="lineMenu lineBot"></div>
        </div>
        <div class="menuList">
            <a
                routerLinkActive="btn--active"
                [routerLink]="['/schedule']"
                class="btn btn--left"
                routerLinkActive="btn--active"
                (click)="toggleMenu()"
            >
                Grafik
            </a>
            <a
                routerLinkActive="btn--active"
                [routerLink]="['/players']"
                class="btn btn--right"
                routerLinkActive="btn--active"
                (click)="toggleMenu()"
            >
                Gracze
            </a>
            <a
                routerLinkActive="btn--active"
                [routerLink]="['/stats']"
                class="btn btn--left"
                routerLinkActive="btn--active"
                (click)="toggleMenu()"
            >
                Statystyki
            </a>
            <a
                routerLinkActive="btn--active"
                [routerLink]="['/coaches']"
                class="btn btn--right"
                routerLinkActive="btn--active"
                (click)="toggleMenu()"
            >
                Kasjerzy
            </a>
            <button
                type="button"
                class="btn btn--left"
                routerLinkActive="btn--active"
                (click)="toggleMenu()"
            >
                Wyloguj
            </button>
        </div>
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div
        @info
        *ngIf="infoService.isInfo"
        class="info"
    >
        <p class="text">{{infoService.infoText}}</p>
    </div>
    <footer>
        <a
            href="https://dao0dao.github.io/dao/"
            target="blank"
        >
            Created and designed with passion by
            <span>< Dao /></span>
        </a>
    </footer>
</div>
