<div class="body">
    <nav>
      <a [routerLink]="['/schedule']" class="btn" routerLinkActive="active">Grafik</a>
      <a [routerLink]="['/players']" class="btn" routerLinkActive="active">Gracze</a>
      <a [routerLink]="['/stats']" class="btn" routerLinkActive="active">Statystyki</a>
      <a [routerLink]="['/coaches']" class="btn" routerLinkActive="active">Kasjerzy</a>
      <button type="button" class="btn" routerLinkActive="active">Wyloguj</button>
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <a
            href="https://dao0dao.github.io/dao/"
            target="blank"
        >
            Created and designed with passion by <span>< Dao /></span>
        </a>
    </footer>
</div>
