@import "~src/assets/colors";

.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
nav {
    position: relative;
    width: 100%;
    background-color: $black;
    .burger {
        padding: 0.5rem 0.8rem;
        display: inline-block;
        cursor: pointer;
        .lineMenu {
            position: relative;
            height: 2px;
            width: 23px;
            margin: 6px;
            transform-origin: 0% 50%;
            background-color: $mainColorOne;
            transition: opacity 0.3s linear, transform 0.3s linear;
        }
    }
    .menuList {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 100%);
        transform: translateX(-100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $black;
        transition: transform 0.3s linear;
    }
    &.active {
        .menuList {
            transform: translateX(0%);
        }
        .burger {
            .lineTop {
                transform: rotate(45deg);
            }
            .lineMid {
                opacity: 0;
            }
            .lineBot {
                transform: rotate(-45deg);
            }
        }
    }
}
.content {
    overflow: auto;
    flex-grow: 1;
    width: 100%;
}
.info {
    position: fixed;
    top: 4rem;
    transform: skew(-16deg);
    border: 5px solid $mainColorOne;
    background-color: $mainColorTwo;
    .text {
        margin: 1rem;
        transform: skew(16deg);
        color: $white;
    }
}
footer {
    padding: 1rem;
    width: 100%;
}
footer {
    text-align: center;
    background-color: $black;
    a {
        text-decoration: none;
        color: $white;
    }
    span {
        color: $creatorColor;
    }
}
@media screen and (min-width: 992px) {
    nav {
        .burger {
            display: none;
        }
        .menuList {
            position: static;
            height: auto;
            transform: translateX(0%);
            justify-content: flex-end;
            flex-direction: row;
            transition: none;
        }
    }
}
