<form class="form">
    <div class="day">
        <input
            type="checkbox"
            id="mon"
        >
        <label for="mon">Pn.</label>
    </div>
    <div class="day">
        <input
            type="checkbox"
            id="tue"
        >
        <label for="tue">Wt.</label>
    </div>
    <div class="day">
        <input
            type="checkbox"
            id="wen"
        >
        <label for="wen">Śr.</label>
    </div>
    <div class="day">
        <input
            type="checkbox"
            id="thu"
        >
        <label for="thu">Cz.</label>
    </div>
    <div class="day">
        <input
            type="checkbox"
            id="fri"
        >
        <label for="fri">Pt.</label>
    </div>
    <div class="day">
        <input
            type="checkbox"
            id="sat"
        >
        <label for="sat">Sb.</label>
    </div>
    <div class="day">
        <input
            type="checkbox"
            id="sun"
        >
        <label for="sun">Nd.</label>
    </div>
    <div class="hour">
        <span>od</span>
        <input
            type="time"
            id="hour"
        >
        <span>do</span>
        <input
            type="time"
            id="hour"
        >
    </div>
    <button
        type="submit"
        class="add"
    >
        Dodaj
    </button>
</form>
