@import "~src/assets/colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}
button {
    cursor: pointer;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.btn {
    position: relative;
    display: inline-block;
    margin: 0.5rem 1rem;
    padding: 0.5rem 0.8rem;
    background-color: transparent;
    border: unset;
    border-bottom: 2px solid transparent;
    font-size: 1rem;
    text-decoration: none;
    color: $white;
    transition: border-color 0.25s linear;
    cursor: pointer;
    &::after {
        position: absolute;
        top: 0;
        width: 2px;
        height: 100%;
        display: block;
        content: "";
        background-color: $mainColorOne;
        opacity: 0;
        transition: opacity 0.25s linear, background-color 0.25s linear;
    }
    &--left {
        &::after {
            left: 0;
            transform: rotate(13deg) translate(2px, 2px);
        }
    }
    &--right {
        &::after {
            right: 0;
            transform: rotate(-13deg) translate(-2px, 2px);
        }
    }
    &--submit,
    &--close,
    &--add {
        &::after,
        &::before {
            position: absolute;
            top: 0;
            height: 100%;
            width: 50%;
            transform: skewX(-16deg);
            opacity: 1;
            display: block;
            content: "";
            background-color: transparent;

            border-style: solid;
            transition: width 0.25s linear;
        }
        &::after {
            left: -2px;
            border-width: 0 0 2px 2px;
        }
        &::before {
            right: -2px;
            border-width: 2px 2px 0 0;
        }
    }
    &--submit {
        color: $mainColorTwo;
        &::after,
        &::before {
            border-color: $mainColorOne;
        }
    }
    &--add {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8em;
        color: $black;
        svg {
            max-width: 17px;
            max-height: 17px;
            width: auto;
            position: static;
            margin-right: 5px;
            fill: $confirm;
        }
        &::after,
        &::before {
            border-color: $confirm;
        }
    }
    &--close {
        color: $mainColorThree;
        &::after,
        &::before {
            border-color: $mainColorThree;
        }
    }
    &--active,
    &:hover,
    &:focus-visible {
        outline: none;
        &::after {
            opacity: 1;
        }
        border-color: $mainColorOne;
        &.btn--submit,
        &.btn--close,
        &.btn--add {
            border-color: transparent;
            &::after,
            &::before {
                width: 100%;
            }
        }
    }
    &[disabled] {
        border-color: $mainColorFour;
        color: $mainColorFour;
        &::after {
            background-color: $mainColorFour;
        }
        &.btn--submit,
        &.btn--add {
            border-color: transparent;
            pointer-events: none;
            &::after,
            &::before {
                background-color: transparent;
                border-color: $mainColorFour;
            }
        }
        &.btn--add {
            svg {
                fill: $mainColorFour;
            }
        }
    }
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
