<div class="container">
    <div class="overlap">
        <button
            class="btn btn--left"
            [ngClass]="{'btn--active': overlap === 'list'}"
            (click)="changeOverlap('list')"
        >
            Lista graczy
        </button>
        <button
            class="btn btn--right"
            [ngClass]="{'btn--active': overlap === 'add'}"
            (click)="changeOverlap('add')"
        >
            Dodaj gracza
        </button>
    </div>
    <app-add-player
        *ngIf="overlap === 'add'"
        [allOpponents]="allOpponents"
    ></app-add-player>
    <app-players-list
        *ngIf="overlap === 'list'"
        [players]="players"
    ></app-players-list>
</div>
